version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: gcp
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: kira_33

    volumes:
      - ./postgres-data:/var/lib/postgresql/data

    restart: always

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.3
    container_name: zookeeper
    ports:
      - "2181:2181"
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    restart: always

  kafka:
    image: confluentinc/cp-kafka:7.5.3
    container_name: kafka_broker
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,EXTERNAL://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    restart: always

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: kafka_ui
    ports:
      - "8085:8085"
    depends_on:
      - kafka
    environment:
      KAFKA_CLUSTERS_0_NAME: local
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:29092
      KAFKA_CLUSTERS_0_JMXPORT: 9991
      KAFKA_CLUSTERS_0_READONLY: "false"
    restart: always

  redis:
    image: redis:7.2-alpine
    container_name: redis_server
    ports:
      - "6379:6379"
    command: redis-server --requirepass kira_33 --appendonly yes
    volumes:
      - ./redis-data:/data
    restart: always

  redis-commander:
    image: ghcr.io/joeferner/redis-commander:latest
    container_name: redis_commander_ui
    environment:
      REDIS_HOSTS: local:redis:6379
      REDIS_PASSWORD: kira_33
      REDIS_CLUSTERS: default
    ports:
      - "8086:8086"
    depends_on:
      - redis
    restart: always

  minio:
    image: minio/minio:latest
    container_name: minio_server
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: kira_33
      MINIO_SERVER_URL: http://localhost:9000

    command: server /data --console-address ":9001"

    volumes:
      - ./minio-data:/data

    restart: always

volumes:
  postgres-data: {}
  redis-data: {}
  minio-data: {}